<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jetzt.machbarschaft.android">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- For verification of the User     -->
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.order.OrderDetailActivity"
            android:parentActivityName=".view.home.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.home.Home" />
        </activity>
        <activity
            android:name=".view.order.OrderDoneActivity"
            android:parentActivityName=".view.order.OrderEnRouteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.order.OrderEnRouteActivity" />
        </activity>
        <activity
            android:name=".view.order.OrderEnRouteActivity"
            android:parentActivityName=".view.order.OrderCarryOutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.order.OrderCarryOutActivity" />
        </activity>
        <activity
            android:name=".view.order.OrderCarryOutActivity"
            android:parentActivityName=".view.order.OrderAcceptActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.order.OrderAcceptActivity" />
        </activity>
        <activity
            android:name=".view.order.OrderAcceptActivity"
            android:parentActivityName=".view.order.OrderDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.order.OrderDetailActivity" />
        </activity>
        <activity android:name=".view.register.RegisterActivity" />
        <activity android:name=".view.register.VerifyPhoneActivity" />
        <activity
            android:name=".view.home.Home"
            android:theme="@style/AppTheme.Translucent" />
        <activity android:name=".view.login.LoginMain" />
        <activity android:name=".view.splash.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.OrderInProgressNotification" />

        <!--
            The API key for Google Maps-based APIs is defined as a string resource.
            (See the file "res/values/google_maps_api.xml").
            Note that the API key is linked to the encryption key used to sign the APK.
            You need a different API key for each encryption key, including the release key that is used to
            sign the APK for publishing.
            You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_machbarschaft_clear_white" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_accent" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>